glob:*.pyc
glob:*.db
glob:*.flv
glob:*~
glob:build
glob:.svn
glob:.DS_Store
glob:logs/vself.log
glob:config.py
glob:celeryconfig.py
glob:static/videos
glob:static/avatars
glob:static/attachment
glob:static/teachercard
glob:static/fav_img
glob:static/task_img
glob:static/reportcard
glob:static/userfile
glob:*.sql
glob:*_convert.mp4
glob:*_convert1.mp4