*.pyc
*.db
*.flv
*~
build
.svn
.DS_Store
logs/*
config.py
celeryconfig.py
static/videos
static/avatars
static/attachment
static/teachercard
static/fav_img
static/task_img
static/reportcard
static/userfile
*.sql
*_convert.mp4
*_convert1.mp4
