{% extends "base.html" %}
{% block stylesheets %}
  <link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/svg.css'|staticurl }}" />
{% endblock %}
{% block scripts %}
<script src="/static/js/lib/jquery/jquery.ui.js"></script>
  <script src="/static/js/lib/jquery/jquery.mousewheel.js"></script>
  <script src="/static/js/lib/jquery/jquery.fullscreen.js"></script>
  <script src="/static/js/lib/svg/svg.js"></script>
  <script src="{{ '/static/js/apps/svg.js'|staticurl }}"></script>
{% endblock %}
{% block mainbody %}
<div class="center">
    <div id="svg">
    </div>
</div>
{% endblock %}
