#svg {
	height:100%;
}
.svg-canvas{
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	background: #000;
}

.svg-tool-group{
	position: absolute;
	top:10px;
	right: 10px;
	padding: 2px;
	background-color: rgba(200,200,200,0.85);
	box-shadow: 0px 2px 8px rgba(200,200,200,0.7);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.svg-tool-item{
	width: 28px;
	height: 28px;
	line-height: 26px;
	display: block;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 1px;
	background-size: 15px 15px;
	font-size: 22px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.svg-tool-group-left .svg-tool-item{
	border-top: solid thin #666;
}
.svg-tool-group-left .svg-tool-zoomIn{
	border-top: none;
}
.svg-tool-item:hover{
	background-color:#0066ce !important;
	color:white;
	-webkit-border-radius:3px !important
}
.svg-tool-item.selected{
	background-color:#0066ce !important;
	color:white;
	-webkit-border-radius:3px !important
}
.svg-tool-fullScreen{
	background-image: url(../../images/fullscreen.png);
}
.svg-tool-cloud{
	border-top: none;
	background-image: url(../../images/cloud.png);
}
.svg-tool-arrow{
	background-image: url(../../images/arrow.png);
}
.svg-tool-text{
	background-image: url(../../images/text.png);
}
.svg-tool-shape{
	background-image: url(../../images/shape.png);
}
.svg-tool-rect, .svg-tool-shape.svg-tool-rect{
	background-image: url(../../images/rect.png);
}
.svg-tool-circle, .svg-tool-shape.svg-tool-circle{
	background-image: url(../../images/circle.png);
}
.svg-tool-x, .svg-tool-shape.svg-tool-x{
	background-image: url(../../images/x.png);
}
.svg-tool-line, .svg-tool-shape.svg-tool-line{
	background-image: url(../../images/line.png);
}

.svg-tool-colorbtn, .svg-tool-color{
	display: block;
	cursor: pointer;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	background-color: #FF0000;
	border: solid 2px white;
	cursor: pointer;
}
.svg-tool-colorbtn{
	width: 15px;
	height: 15px;
	margin: 5px 0px 5px 6px;
}
.svg-tool-color{
	display: inline-block;
	width: 28px;
	height: 28px;
	margin: 0px 2px;
}
.svg-tool-colorbtn:hover, .svg-tool-color:hover{
	opacity:0.5
}
.svg-tooltip{
	padding: 5px;
	padding-right: 3px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: rgba(200,200,200,0.85);
	position: absolute;
	box-shadow: 0px 2px 8px rgba(200,200,200,0.4);
	-webkit-box-shadow: 0px 2px 8px rgba(200,200,200,0.4);
}
.svg-tooltip:after {
	border-left: 7px solid rgba(200,200,200,0.85);
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	content: "";
	position: absolute;
	top: 24px;
	right: -7px;
}
.svg-shapeMenu{
	right:49px;
	top:176px;
}
.svg-shapeMenu:after{
	top:14px;
}
.svg-shapeMenu a{
	display: inline-block;
}
.svg-colorMenu{
	right:49px;
	top:188px;
}
.svg-mouse-tooltip:after{
	top:6px;
}
.svg-tool-cancel{
	background: rgba(200,200,200,0.5);
	color: #FFF;
	line-height: 28px;
	text-decoration: none;
	width: 50px;
	height: 28px;
	position: absolute;
	top:10px;
	right: 42px;
	text-align: center;
	cursor: pointer;
}
.svg-tool-cancel:hover{
	background-color:#A0A098;
}
.svg-prop{
	position: absolute;
	top:10px;
	right: 10px;
	width: 120px;
	height: 500px;
	background-color: #DDD;
	border: 1px #CCC solid;
	border-bottom: 2px #B7B7B7 solid;
	-webkit-box-shadow: 0 1px 0 0 #adadad;
	box-shadow: 0 1px 0 0 #adadad;
	border-style: solid;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.svg-annotation{
	position: absolute;
	top: 0px;
	display: none;
}
.svg-annotation textarea{
	position: absolute;
	top:0px;
	bottom: 30px;
	left: 0px;
	right: 0px;
	font-size: 24px;
}
.svg-annotation .svg-annotation-opt{
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.svg-annotation .svg-annotation-opt span{
	color:#fff;
    background:#617baf;
    font-weight: bold;
    padding:4px 8px;
    cursor: pointer;
    display: inline-block;
}
.svg-annotation .svg-annotation-opt .svg-annotation-cancel{
	color:#333;
    background:#ececec;
    margin-left: 5px;
}
.svg-canvas svg{
	position: absolute;
	/**-webkit-text-size-adjust:none;**/
}